/* styles.css */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4f4f4;
    color: #333;
}

#text-container {
    font-size: 1.5rem;
    white-space: pre-wrap;
    overflow: hidden;
    text-align: left;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#click-container {
    margin-top: 20px;
}

#redirect-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#redirect-button:hover {
    background-color: #0056b3;
}

.blink {
    animation: blink 1s step-end infinite;
    display: inline-block;
    width: 1ch;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Footer Style */
#footer {
    margin-top: auto;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

#footer a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    font-weight: bold;
}

#footer a:hover {
    text-decoration: underline;
}
